<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fluttercandies.flutter_candies_ali_auth_example">
   <application
        android:label="flutter_candies_ali_auth_example"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
       >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

       <!--重点关注！！！！！！！-->
       <!--如果不需要使用窗口模式，不要使用authsdk_activity_dialog主题，会出现异常动画-->
       <!--如果需要使用authsdk_activity_dialog主题，则screenOrientation一定不能指定明确的方向，
       比如portrait、sensorPortrait，在8.0的系统上不允许窗口模式指定orientation，会发生crash，需要指定为behind，
       然后在授权页的前一个页面指定具体的orientation-->
       <activity android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" android:name="com.mobile.auth.gatewayauth.LoginAuthActivity" android:screenOrientation="behind" android:theme="@style/authsdk_activity_dialog"/>

       <activity android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" android:name="com.mobile.auth.gatewayauth.PrivacyDialogActivity" android:screenOrientation="behind" android:theme="@style/authsdk_activity_dialog"/>

       <activity android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity" android:screenOrientation="behind"/>

       <!--联通电信授权页-->
       <!--如果不需要使用窗口模式，不要使用authsdk_activity_dialog主题，会出现异常动画-->
       <!--如果需要使用authsdk_activity_dialog主题，则screenOrientation一定不能指定明确的方向，
              比如portrait、sensorPortrait，在8.0的系统上不允许窗口模式指定orientation，会发生crash，需要指定为behind，
              然后在授权页的前一个页面指定具体的orientation-->
       <!--   使用弹窗模式必须添加。    -->
       <activity
           android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
           android:configChanges="orientation|keyboardHidden|screenSize"
           android:exported="false"
           android:theme="@style/authsdk_activity_dialog"
       android:launchMode="singleTop" />
       <!--协议页面webview-->
       <activity
           android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
           android:configChanges="orientation|keyboardHidden|screenSize"
           android:exported="false"
           android:launchMode="singleTop"
           android:screenOrientation="behind" />

       <!-- Don't delete the meta-data below.
            This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
